@model Offer
@if (Model == null)
{

    <span class="alert alert-danger">The selected offer isn't found</span>
    <a asp-action="Welcome" asp-controller="User">Go back to welcome page</a>
}
else
{
    <h1>Offer Details</h1>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Starting point</th>
            <th>Destination</th>
            <th>Departure Time</th>
            <th>Maximum number  of passengers</th>
            <th>Number of kms</th>
            <th>Price per km (€)</th>
            <th>Total Price (€)</th>

        </tr>
        <tr>
            <td>@Model.Date.ToString("dd/MM/yyyy")</td>
            <td>@Model.StartPoint</td>
            <td>@Model.Destination</td>
            <td>@Model.DepartureTime.TimeOfDay</td>
            <td>@Model.NbPassengerMax</td>
            <td>@Model.Numkm</td>
            <td>@Model.Price</td>
            <td>@ViewData["TotalPrice"]</td>
            @if(Model.Completed == false)
            {
                <td><a asp-action="EditOffer" asp-route-id_offer="@Model.Id">Edit</a></td>
                <td><a asp-action="RemoveOffer" asp-route-id_offer="@Model.Id">Remove</a></td>
            }
        </tr>
        <tr>
            <th><h1>Driver details</h1></th>
        </tr>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
        </tr>
        <tr>
            <td>@Model.Driver.Username</td>
            <td>@Model.Driver.First_name</td>
            <td>@Model.Driver.Last_name</td>
            <td>@Model.Driver.Phone_number</td>
        </tr>
        <tr>
            <td><h1>Passengers details</h1></td>
        </tr>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
        </tr>

        @foreach (var passenger in Model.Passengers)
        {
            <tr>
                <td>@passenger.Username</td>
                <td>@passenger.First_name</td>
                <td>@passenger.Last_name</td>
                <td>@passenger.Phone_number</td>
                <td><a asp-action="ContactPassenger" asp-route-id_passenger="@passenger.Id">Contact Passenger</a></td>
            </tr>
        }
    </table>
        
    
}


