@model List<Offer>
@if(Model == null)
{

    <span class="alert alert-danger">There's no offers that you made as a driver'</span>
    <a asp-action="Welcome" asp-controller="User">Go back to welcome page</a>
}
else
{
<h1>Offers made as Driver</h1>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Starting point</th>
        <th>Destination</th>
        <th>Number of passenger</th>
        <th>Price per km (€)</th>
    </tr>
    @foreach (var offer in Model)
    {
        <tr>
            <td>@offer.Date.ToString("dd/MM/yyyy")</td>
            <td>@offer.StartPoint</td>
            <td>@offer.Destination</td>
            <td>@offer.NbPassengerMax</td>
            <td>@offer.Price</td>
            <td><a asp-action="OfferDetails" asp-route-id_offer="@offer.Id">Details</a></td>
        </tr>
    }
</table>
}


