@model User
@if(Model == null)
{

    <span class="alert alert-danger">The selected category was not found</span>
    <a asp-action="Category">See the different categories</a>
}
else
{
<h1>Offers made as Driver</h1>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Starting point</th>
        <th>Destination</th>
        <th>Number of passenger</th>
        <th>Price</th>
    </tr>
    @foreach (var offer in Model.Offers_Driver)
    {
        <tr>
            <td>@offer.Date.ToString("dd/MM/yyyy")</td>
            <td>@offer.StartPoint</td>
            <td>@offer.Destination</td>
            <td>@offer.NbPassengerMax</td>
            <td>@offer.Price</td>
            @if(offer.Completed == false)
            {
                    <td><a asp-action="MyOfferDetails" asp-route-id_offer="@offer.Id_Offer">Details</a></td>
            }
        </tr>
    }
</table>
}


